<div class="row">
  <div class="col-md-4 light-switch">

    <div class="text-center light-status">
      The lights are currently
      <span class="<%= @lights_on ? 'lights-on' : 'lights-off' %>">
        <%= @lights_on ? 'ON' : 'OFF'  %>
      </span>
      <p>
        Toggle them below:
      </p>
    </div>
    <%= button_to "", toggle_lights_path(@current_teleporter.uid), class: @lights_on ? "btn-toggle-lights btn-turn-off" : "btn-toggle-lights btn-turn-on"  %>
  </div><!-- /light-switch -->
  <div class="col-md-4 sound-switch">
    <div class="text-center sound-status">
      The sounds are currently
      <span class="<%= @sound_on ? 'sound-on' : 'sound-off' %>">
        <%= @sound_on ? 'ON' : 'OFF'  %>
      </span>
      <p>
        Toggle them below:
      </p>
    </div>
    <%= button_to "", toggle_sound_path(@current_teleporter.uid), class: @sound_on ? "btn-toggle-sound btn-turn-off-sound" : "btn-toggle-sound btn-turn-on-sound"  %>
  </div><!-- /sound switch -->
  <div class="col-md-4 reboot-button">
    <div class="text-center power-status">
      The machine is currently set to
      <span class="<%= @power_off ? 'power-off' : 'power-on' %>">
        <%= @power_off ? 'POWER DOWN' : 'REMAIN RUNNING'  %>
      </span>
      <p>
        Toggle this status below:
      </p>
      <%= button_to "", toggle_power_off_path(@current_teleporter.uid), class: @power_off ? "btn-toggle-power-off btn-turn-off-power" : "btn-toggle-power-off btn-turn-on-power"  %>
    </div>
  </div>
</div> <!-- /row -->
